body {
    font-family: Avenir Next,Helvetica Neue,Helvetica,Arial,sans-serif;
}


.hush-container {
    max-width: 1024px;
    margin: 0 auto;
}

.apps-container {
    display: none;
}

.large-header {
    font-size: 12vh;
}

.sub-header {
    font-size: 4vh;
}

.app {
    position: relative;
}

.app-img {
    box-sizing: border-box;
    border-radius: 15px;
}

.app-img,
.app-img:hover {
    -webkit-transition: margin-top 0.1s, margin-bottom 0.1s;
    transition: margin-top 0.1s, margin-bottom 0.1s;
}

.app-img:hover {
    margin-top: -10px;
    margin-bottom: 10px;
}

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.freeze {
    overflow: hidden;
}

.modal {
    position: relative;
    max-width: 640px;
    padding: 20px;
    background: #fff;
    margin: 40px auto;
}

.modal-close {
    position: absolute;
    width: 30px;
    text-align: center;
    font-size: 2em;
    top: 0;
    right: 0;
    margin-right: 15px;
}

.modal-issues span{
    display: block;
    float: left;
}

.notif-badge {
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
    height: 33px;
    margin: -16px 16px 0px 0px;
    border-radius: 50%;
    background-color: red;
    display: block;
    text-align: center;
    color: white;
    font-size: 1.4em;
    border: 2px solid white;
}

.modal-img {
    margin-top: 30px;
    max-width: 300px;
    width: 60%;
    margin: 30px auto 0;
    display: block;
    border-radius: 10%;
}

