<!doctype html>
<html ng-app="hush" class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/6.0.2/basscss.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body ng-controller="hushController">

    <div class="caps m2 clearfix">
        <!--span>Search </span-->
        <span class="right">What is this?</span>
    </div>
    <!--hr class="mt2"-->
    <div class="hush-container mt4">
        <div class="clearfix">
            <header class="mt4 mb4">
                <h1 class="large-header h1 h1-responsive caps m0 ml9 center">HUSH</h1>
                <p class="h4 m0 bold caps center sub-header">Quiet your phone.</p>
            </header>
        </div>
        <div class="apps-container clearfix">
            <div ng-repeat="app in apps | orderBy:'name'" class="app sm-col sm-col-4 md-col-3 lg-col-2 px3 mb4" ng-click="showModal(app)">
                <div class="notif-badge" ng-show="app.issues.length">{{app.issues.length}}</div>
                <img class="rounded app-img" ng-src="{{app.imgUrl}}" ng-class="{border: app.border}">
            </div>
        </div>
    </div>
    <div class="overlay" ng-click="hideModal()">
        <div class="modal">
            <img class="modal-img" ng-src={{modalApp.imgUrl}}>
            <h1 class="h1 h1-responsive">{{modalApp.name}}</h1>
            <div class="modal-close" ng-click="hideModal()">&times;</div>
            <div class="modal-issues clearfix">
                <span class="caps h6 bold bg-black p1 mr1 mb1 white" ng-repeat="issue in modalApp.issues">{{issue}}</span>
            </div>
            <div class="modal-body mt2 mb2">
                <p class="h3">{{modalApp.writeup}}</p>
            </div>
        </div>
    </div>


    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
